#app{
    display:grid;
}
/* Header section */
#header{
    display:flex;
    flex-direction: column;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-bottom: 10px;
}

#title1{
    align-self: center;
    font-size: 100px;
    margin-bottom: -30px;
}
#undertitle{
    display:flex;
    justify-content: space-between;
    width:600px;
    position: relative;
    left: 600px;
}

.closelink{
    margin-left: -130px;
}

#undertitle > .subs{
    position: relative;
    left: 400px;
}

#undertitle > .followcell{
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;

}
#navbar{
    display:flex;
    justify-content: space-around;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    margin-bottom: 10px;
}

#ad1{
    width:1000px;
    height:350px;
    align-self:center;
}

/* container section for articles*/
#container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top:20px;
}

.bigthumb{
    width:500px;
    height:300px;
}

.medthumb{
    width:300px;
    height:300px;
}

.smallthumb{
    width:200px;
    height:200px;
}

#conhead{
    grid-area:1/1/1/1;
}
#cell1{
    grid-area: 2/1/2/1;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#cell2{
    grid-area:2/2/2/2;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#cell3{
    grid-area:2/3/2/3 ;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#cell4{
    grid-area: 3/1/3/1;
    padding-left: 4px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#cell5{
    grid-area: 3/2/3/2;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#cell6{
    grid-area: 3/3/3/3;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#cell7{
    grid-area: 4/1/4/1;
    padding-left: 4px;
}

#cell8{
    grid-area: 4/2/4/2;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;
    
}

#cell9{
    grid-area:4/3/4/3;
    border-left: 1px;
    border-left-style: solid;
    padding-left: 4px;
}

/* Footer area */